body,html{
    background-color :#182647;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    margin-top: 15px;
}
.top{
    display: grid;
    grid-template-columns: 65% 35%;
}
.screen{
    width: 97%;
    height: 120px;
    font-size:45px;
    margin-bottom: 30px;
    padding-right: 30px;
    font-family: 'Dosis', sans-serif;
    text-align: right;
    box-shadow: 4px 4px #888888; 
}
.scr{
    padding-right:10px;
    padding-left:10px;
}
.buttona1{
    padding-left:19%;
    padding-right:23%;

}
.buttona2{
    padding-left: 44%;
    padding-right: 44%;
}
.buttonb{
    display:grid;
    grid-template-columns: 67% 33%;
    margin-left: 0px;
}
input[type="button"]{
    margin-right:10px;
    text-align: center;
    margin-bottom:15px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    text-decoration:bold;
    box-shadow: 5px 8px #888888;
}
input[type="button"]:active{
    margin-right:9px;
    text-align: center;
    margin-bottom:15px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    text-decoration:bold;
    box-shadow: 4px 4px #888888; 
  transform: translateY(4px);
}
.spbutton input[type="button"]{
    width: 90px;
    height: 60px;
    font-size: 21px;
    border-radius: 10px;
    border:none;
}
.buttontrig{
    background: rgb(248, 22, 60);
    color: black;
}
.buttontrig:hover{
    color: rgb(248, 22, 60);
    background: black;
}
.numpad input[type="button"]{
    width: 120px;
    height: 85px;
    font-size: 32px;
    border-radius: 10px;
    border:none;
    color:rgb(3, 7, 41);
    background: aqua;
}
.numpad input[type="button"]:hover{
    width: 120px;
    height: 85px;
    font-size: 32px;
    border-radius: 10px;
    border:none;
    background:rgb(3, 7, 41);
    color: aqua;
}
.buttona input[type="button"]{
    width: 120px;
    height: 50px;
    font-size: 29px;
    border-radius: 10px;
    border:none;
    color:black;
    background: rgb(255, 212, 21);
}
.button0{
    color:rgb(5, 11, 66);
    background: aqua;
}
.button0:hover{
    background:rgb(5, 11, 66);
    color: aqua;
}
.buttona input[type="button"]:hover{
    width: 120px;
    height: 50px;
    font-size: 29px;
    border-radius: 10px;
    border:none;
    background:black;
    color: rgb(255, 212, 21);
}
.buttonopp{
    color:#CCA969;
    background:#291B2C;
}
.buttonopp:hover{
    color:#291B2C;
    background:rgb(255, 206, 115);
}
.prog:hover{
    color:#D1A683;
    background:#1A2C56;
}
.prog{
    color:#291B2C;
    background:rgb(255, 206, 115);
}
.button2:hover{
    color:#2858b1;
    background:#ff9b28;
}
.button2{
    color:#fcef3f;
    background:#2853b1;
}
.buttond{
    color:#FFF38E;
    background:#141526;
}
.buttond:hover{
    color:#141526;
    background:#FFF38E;
}
.buttonj{
    color:teal;
    background:rgb(30, 14, 44);
}
.buttonj:hover{
    background:teal;
    color:rgb(30, 14, 44);
}
.buttona24{
    padding:3% 5% 3% 5%;
    border-radius: 10px;
    background: url("graph.svg");
    background-position: center;
    color: white;
    font-size: 20px;
    background-size: 126% 200%;
}
.buttona23{
    padding:3% 5% 3% 5%;
    border-radius: 10px;
    background: url("con.png");
    background-position: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-size: 126% ;
}